.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper .item {
  border: red 1px solid;
  margin: 0.2em;
  flex: auto;
  width: 46%;
  padding: 0.2em;
}
.wrapper .item:nth-child(odd) {
  background-color: white;
  margin-bottom: 2.5em;
}
.wrapper .item:nth-child(even) {
  background-color: black;
  margin-top: 2.5em;
}

/* .race-result-wrapper h6 {
  margin: 0;
}
.race-result-h6 {
  color: black;
}
.race-result {
  border: 1em solid var(--muted-border-color);
  background-color: var(--background-color);
  width: 48%;
  margin: 0 auto;
  padding: 0.2em;
}
.race-result:nth-child(odd) {
  margin-bottom: 2.5em;
}
.race-result:nth-child(even) {
  background-color: var(--muted-color);
  margin-top: 2.5em;
}
.race-result:nth-child(even) h6 {
  color: white;
}

.points-laps-wrapper {
  display: flex;
  justify-content: space-between;
} */
