.race-result-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.race-result-wrapper h6 {
  margin: 0;
}
.race-result {
  border: 1em solid var(--muted-border-color);
  background-color: var(--background-color);

  width: 48%;
  margin: 0 auto;
  padding: 0.2em;
}
.race-result:nth-child(odd) {
  margin-bottom: 2.5em;
}
.race-result:nth-child(even) {
  background-color: var(--muted-color);

  margin-top: 2.5em;
}
.race-result:nth-child(even) h6 {
  color: white;
}

.race-result-circle {
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  border-radius: 50%;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  background: #000;
}
.points-laps-wrapper {
  display: flex;
  justify-content: space-between;
}
